.divCreatePokemon{
    display: flex;
    flex-direction: column;
    background: url('https://cdnb.artstation.com/p/assets/images/images/050/632/855/large/isma-perez-laboratorio-oak.jpg?1655306151');
}

.divDetailsPokemon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.divDataPokemon{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}
.divInputCreatePokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.labelError,.labelCreatePokemon{
    font-weight: bold;
    color: white;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 2px black;
    padding-right: 10px;
    padding-left: 20px;

}
.labelError{
    color: red;
}

.InputCreatePokemon{
    border-radius: 20px;
    font-size: large;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: white;
    border-style: groove;
    border-width: 7px;
    width: -webkit-fill-available;
     
}

.divPreviewImage{
    backdrop-filter: blur(30px); 
    padding-right: 20px;
}

.previewImage{
    border-style: groove;
    border-color: white;
    border-radius: 5%;
    height: fit-content;
}

.labelTypes{
    text-align: center;
}

.divTypes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    border: 7px;
    color: black;
    border-style: groove;
    font-weight: bold;
    color: white;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 2px black;
}

.divButtonCreatePokemon{
    padding-top: 20px;
    width: 100%;
}

.buttonCreatePokemon{
    font-size: xx-large;
    font-style: oblique;
    font-weight: bold;
    border-style: none;
    background: none;
    -webkit-text-stroke: 1px white;
    border-radius: 20px;
    border-color: white;
    border-style: groove;
    border-width: 7px;
    backdrop-filter: blur(30px); 
    width: 100%;
}

.buttonCreatePokemon:hover{
    color: blue;
    border-color: yellow;
}

.buttonCreatePokemon:active{
    backdrop-filter: blur(10px);
}


@media (max-width:900px) {
    .divDetailsPokemon {
        flex-direction: column;
    }
}

