.divProfile {
    background: url('https://static.vecteezy.com/system/resources/previews/012/705/641/non_2x/cartoon-mountain-landscape-with-blue-sky-sun-and-clouds-green-field-meadows-grassland-2d-cartoon-scene-hills-look-like-piramid-free-vector.jpg');
    /* background: url('https://cdnb.artstation.com/p/assets/images/images/050/632/855/large/isma-perez-laboratorio-oak.jpg?1655306151'); */
}

.headerProfile {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

.textProfileHeader {
    text-align: center;
    color: aliceblue;
    font-size: xx-large;
}

.ProfileBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 20px;
}

.profileImg {
    width: 500px;
    padding-top: 3%;
    padding-left: 7%;
    padding-right: 7%;
}

.profileDescription {
    width: min-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.labelProfile {
    font-size: xx-large;
    font-style: oblique;
    font-weight: bold;
    color: black;
    padding: 10px;
    -webkit-text-stroke: 1px white;
    
}

.dangerInputLogin {
    border-color: red;
}

.buttonProfile {
    font-size: xx-large;
    font-style: oblique;
    font-weight: bold;
    border-style: none;
    background: none;
    -webkit-text-stroke: 1px white;
    border-radius: 20px;
    border-color: white;
    border-style: groove;
    border-width: 7px;
}

.buttonProfile:hover {
    color: blue;
    border-color: yellow;
}

.spanError {
    color: red;
    text-align: center;
    font-size: larger;
    font-weight: bold;

}

.buttonDeleteProfile {
    font-size: xx-large;
    font-style: oblique;
    font-weight: bold;
    border-style: none;
    background: none;
    
    border-radius: 20px;
    border-color: white;
    border-style: groove;
    border-width: 7px;
}

.buttonDeleteProfile:hover {
    color: red;
    border-color: red;
    -webkit-text-stroke: 1px white;
}

@media (max-width:420px) {
    .detailBox {
        flex-direction: column;
    }
}